-----BEGIN CERTIFICATE-----
MIIFwTCCA6mgAwIBAgICEAAwDQYJKoZIhvcNAQELBQAwazELMAkGA1UEBhMCRlIx
DzANBgNVBAgMBkZyYW5jZTETMBEGA1UECgwKZGV2b3h4IEx0ZDEWMBQGA1UEAwwN
d3d3LmRldm94eC5mcjEeMBwGCSqGSIb3DQEJARYPYWRtaW5AZGV2b3h4LmZyMB4X
DTE3MDQwMjIyMTA1NFoXDTI3MDMzMTIyMTA1NFowdDELMAkGA1UEBhMCRlIxDzAN
BgNVBAgMBkZyYW5jZTETMBEGA1UECgwKZGV2b3h4IEx0ZDEfMB0GA1UEAwwWaW50
ZXJtZWRpYXRlLmRldm94eC5mcjEeMBwGCSqGSIb3DQEJARYPYWRtaW5AZGV2b3h4
LmZyMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEArR3VxEczM86n80us
CavnJ2xwrFXAYszONMXxt39w4lrDebM93WiiDrmnpfTMLRmNoAMF3x56ndUFJOKD
KLN2RhfV6AYRZ5zPCaaX0Oi7aHwwxSDxh3IHn+pFqJ/e9mC8M76YVxCH7DCgwKXq
pDeidVPeO5oekobGPFlNsjphEUSvE2OXbKOw79Q+YCwkWFCdGk/hBuvaFEGS2bx3
9nLEwdiZAF1hosBxnsMSCgo4nBEUXoUp/wMXRwt9q2OfLxapm8TQtmevez1X14SH
xYMqj1BPE6qX4n3B0fbE/Jn/rtpUy2cfoJIKbOOY0dDzdEqe7/0xdXKlnPFDSdvC
cVX3Id0j9H/cD0dH8qHHaZYr2czTXoFN06jQRwwHlUF/VJ/yDJzcgKe+lh9jeNgt
tO130MSwfYWg/I9Dt0c3Kz9Ou7UkSBi4arPNMNwpDl6dPNyzO5dAXD9MZaYyzWYj
S0Up4AuQt5cUlV9cl3v/PrmjWYfE9VmLd4zXs+oeJzYQ5nOeDB+xmvrxi2syJY+J
Dwz+dP1i/pLK44gY0+JmhzM0Fp2UuXEqVcIPAFq0wLaOnkjs1svsU3WsxNdL5Z6U
LEEsE6mMzlgkhWQGUxMhMx1igwnqbH9iyfMS1ztPGjcEjON4iOAW/Zag8afIfnow
NXYQ3v1wFLJu2mqzlYhIZ+Fw9ScCAwEAAaNmMGQwHQYDVR0OBBYEFMDmnGmt4HoV
OFcQPw7BQflGtFTWMB8GA1UdIwQYMBaAFGhj7o6ET1NpsRm6UZuN4jpmRepIMBIG
A1UdEwEB/wQIMAYBAf8CAQAwDgYDVR0PAQH/BAQDAgGGMA0GCSqGSIb3DQEBCwUA
A4ICAQC55VectD7WwpIuRhfNQwDw2bass5PbtjLQdzf6UO3jPlF9CBUxsNaaKTtb
Uqj8rZKz5UpZ4/2tyQUCKbhDeTrsLCEQV2H6c3sD9MSDqYSmpJCXBPT2RJDXnsMN
trOyo6LMyFdP1G/KS3r3hTvexz0tma9UxC8cXWafiSVzdSaU2HBXfmWC1zF23AO1
ZgENuCQRdLK6Tx1dZmsGtgabKiDeAn8ntB8EXjsgIoEdiQGztrpLC7eRaa82ZMcO
ugstIfx+bEW7KRD+HZ0x+QaG4NZUi+qh/fEFlhR7qKaYnir06MlUAtazsp7NOSZC
lLx4a3hTe+nIL1eWAqxEiJtWi5cnl4fnm0OI7K5KurcGguCWimZGP/C7B8/IPRjN
uKq8TF2LaIFxw5bqPHCY4dUbZiC+QZQ87uk5qi0Bx4tc4aUbWPIkyUdY1KEI0lLg
OfWqTUiaNGPVbipTT7rcQDNCiP45uwEZT5oTVb0uOqj62cc0HlLQIbjseCsZcZei
2N6eYoDrZ5yOU/nmGuIOYBPdwxa2DS0j18iqPtAhmReczkNHvZUshp5WaloSxykq
EXj84We5ddiUOAoJYiBDg6PO0ItWY+cB7N5UXvt4G5Qc1jBc7eEDgzLYOhEkWNkd
KFlR8huj2VeYLGDw8ojQi1CIivokLmtKjA+kCKCnavGDvVqhkg==
-----END CERTIFICATE-----
